.services {
    margin: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
}

.services ol {
    padding-left: 5px;
}

.services li {
    list-style: none;
    float: left;
    margin: 2px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: darkgreen;
    color: honeydew;
}

.container {
    display: flex;
}

/* list__atrractions is the Attractions Section on main.js */
.list__attractions {
    margin: 1rem;
   font-size: 1rem;
   width: 800px;
}

.list__attractions li {
    list-style: none;
}

/* attraction-card is the Attractions HTML on attractions.js */
.attraction-card {
    border: 1px solid black;
    margin: 1em;
    display: flex;
    justify-content: space-evenly;
}

.guests {
   margin: 1rem;
   width: 300px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: end;
   font-size: 1rem;
}