/* .services is the Services Section on main.js */
.services {
    margin: 1rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
}

.services ol {
    padding-left: 5px;
}

.services li {
    list-style: none;
    float: left;
    margin: 2px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: darkgreen;
    color: honeydew;
}

/* .container is the section holding attractions and guests in main.js */
.container {
    display: flex;
}

/* .list__attractions is the Attractions Section on main.js */
.list__attractions {
    margin: 1rem;
   font-size: 1rem;
}

.list__attractions ol {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.list__attractions li {
    list-style: none;
    font-size: 20px;
}

/* .attraction-card is the Attractions HTML on attractions.js */
.attraction-card {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .guests is the Guests Section on main.js */
.guests {
   margin: 1rem;
   width: 30%;
   text-align: center;
}
.guests ul {
    padding-left: 0;}

.guests li {
   list-style: none;
}