@import "./details.css";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Yeseva+One&display=swap");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: #404040;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 0.5rem;
}

footer {
    background-color: rgb(0, 64, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em;
}

footer h5, h4 {
    text-align: center;
    color: honeydew;
    margin: 3px;
}